* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  height: 100%; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px; }

nav {
  height: 50px;
  background-color: #150266;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: GillLight; }

nav a {
  color: #fff;
  text-decoration: none; }

#app {
  width: 900px;
  min-height: calc(100vh - 100px);
  margin: auto;
  padding: 30px;
  background-color: #79c9ff;
  font-family: GillLight; }

@font-face {
  font-family: CRegular;
  src: url(../fonts/Caveat-Regular.ttf); }

@font-face {
  font-family: CBold;
  src: url(../fonts/Caveat-Bold.ttf); }

@font-face {
  font-family: GillLight;
  src: url(../fonts/GillSans-Light.ttf); }

@font-face {
  font-family: Gill;
  src: url(../fonts/GillSans.ttf); }

@font-face {
  font-family: GillItalic;
  src: url(../fonts/GillSans-Italic.ttf); }

.home .image1 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/special-offer-01.jpg);
  width: 500px;
  height: 300px;
  margin: auto; }

.about {
  display: flex; }
  .about .image1 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/desk.jpg);
    margin: 20px 60px;
    min-width: 360px;
    height: 400px; }

.products .pgroup {
  display: flex; }
  .products .pgroup section {
    margin: auto; }
  .products .pgroup a {
    margin: auto;
    text-align: center;
    text-decoration: none; }
  .products .pgroup h2 {
    padding-top: 10px; }

.products .image1 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(0, 179, 192, 0.2), rgba(0, 179, 192, 0.2)), url(../images/tour-03.jpg);
  width: 260px;
  height: 200px; }

.products .image2 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(0, 179, 192, 0.2), rgba(0, 179, 192, 0.2)), url(../images/tour-04.jpg);
  width: 260px;
  height: 200px; }

.products .image3 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(0, 179, 192, 0.2), rgba(0, 179, 192, 0.2)), url(../images/tour-05.jpg);
  width: 260px;
  height: 200px; }

.products .image4 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(0, 179, 192, 0.2), rgba(0, 179, 192, 0.2)), url(../images/tour-06.jpg);
  width: 260px;
  height: 200px; }

.products .image5 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(0, 179, 192, 0.2), rgba(0, 179, 192, 0.2)), url(../images/tour-07.jpg);
  width: 260px;
  height: 200px; }

.products .image6 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(0, 179, 192, 0.2), rgba(0, 179, 192, 0.2)), url(../images/tour-08.jpg);
  width: 260px;
  height: 200px; }

.contact .cgroup {
  display: flex;
  padding: 40px 100px; }
  .contact .cgroup .info {
    padding: 50px 100px; }

.contact .image1 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(0, 192, 192, 0.2), rgba(0, 192, 192, 0.2)), url(../images/image4.jpg);
  width: 300px;
  height: 240px; }

.blog .bgroup {
  display: flex;
  margin: 0 20px; }
  .blog .bgroup section {
    padding-top: 10px; }
  .blog .bgroup p {
    padding-top: 10px;
    padding-right: 20px;
    font-size: 10px; }

.blog .image1 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/image5.jpg);
  width: 160px;
  height: 100px; }

.productlist section {
  display: flex; }

.productlist p {
  padding-top: 100px;
  margin-left: 20px; }

.productlist .image1 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(0, 179, 192, 0.2), rgba(0, 179, 192, 0.2)), url(../images/tour-03.jpg);
  margin: 20px;
  min-width: 320px;
  height: 360px; }

.productlist .image2 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(0, 179, 192, 0.2), rgba(0, 179, 192, 0.2)), url(../images/tour-04.jpg);
  margin: 20px;
  min-width: 320px;
  height: 360px; }

.productlist .image3 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(0, 179, 192, 0.2), rgba(0, 179, 192, 0.2)), url(../images/tour-05.jpg);
  margin: 20px;
  min-width: 320px;
  height: 360px; }

.productlist .image4 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(0, 179, 192, 0.2), rgba(0, 179, 192, 0.2)), url(../images/tour-06.jpg);
  margin: 20px;
  min-width: 320px;
  height: 360px; }

.productlist .image5 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(0, 179, 192, 0.2), rgba(0, 179, 192, 0.2)), url(../images/tour-07.jpg);
  margin: 20px;
  min-width: 320px;
  height: 360px; }

.productlist .image6 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(0, 179, 192, 0.2), rgba(0, 179, 192, 0.2)), url(../images/tour-08.jpg);
  margin: 20px;
  min-width: 320px;
  height: 360px; }

.productlist .button {
  margin-left: 600px;
  height: 50px;
  width: 100px;
  background-color: #7ff0ff;
  justify-content: center;
  text-align: center;
  padding-top: 16px; }

footer {
  height: 50px;
  width: 100%;
  background-color: #150266;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: GillLight; }
