.about {
  display: flex;
  margin: auto;
  width: 900px;
  min-height: calc(100vh - 100px);
  padding: 30px;
  background-color: #79c9ff;

  .image1 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../images/desk.jpg);

    margin: 20px 60px;
    min-width: 360px;
    height: 400px;
  }
}
