.home {
  .image1 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../images/special-offer-01.jpg);

    width: 500px;
    height: 300px;
    margin: auto;
  }
}
